@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500&display=swap');
head {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    width: 100vw;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:inherit;
}
button {
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: #53323B;
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

header {
    height: calc(100vh - 120px);
    background: no-repeat center/cover url('assets/header-image.jpg');
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: auto 30px
}

header nav p {
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

header nav li {
    margin: 0 15px
}

.header-content {
    max-width: 400px;
    margin: 150px auto;
    text-align: center;
}

.header-content h1 {
    margin-bottom: 10px;
    font-size: 3rem;
    text-align: center;
    color: white;
}

.header-content p {
    color:white;
}

.pacotes {
    background: #dadfeb;
    padding: 15px;
}

.pacotes .pacotes-cards {
    display: flex;
    margin: auto;
    max-width: 950px;
    flex-wrap: wrap;
    justify-content: center;
}

.pacotes .pacotes-title {
    width: 100%;
    margin: auto;
    text-align: center;
    margin: 25px 0
}

.pacotes .card {
    width: 250px;
    height: 350px;
    background: white;
    border-radius: 24px 0px;
    margin: 25px;
    position: relative;
}

.pacotes .card-image {
    width: 250px;
    height: 200px;
    border-radius: 24px 0 0 0;
    object-fit: cover;
}

.pacotes .card-content {
    padding: 0 15px;
}

.pacotes .card-content ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.pacotes .card-content ul li {
    font: size 0.6rem;
    display: flex;
    align-items: center;
    margin: 3px 0;
    color: grey;
    font-weight: bold;
}

.pacotes .card-content li svg {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.pacotes .card-content h1 {
    font-size: 1rem;
}

.pacotes .card .card-tag-top {
    position: absolute;
    top: 15px;
    right: 0;
    background: orange;
    border-radius: 8px 0 0 8px;
    padding: 5px 10px;
}

.pacotes .card .card-tag p {
    margin: 0;
    font-size: 0.8 rem;
    color: white;
    font-weight: bold;
}

.pacotes .card .card-tag-bottom {
    position: absolute;
    top: 160px;
    left: 0;
    background: blue;
    border-radius: 0 8px 8px 0;
    padding: 5px 10px;
}

.servicos{
    padding: 15px;
}
.servicos .servicos-title{
    text-align: center;
    margin: 35px 0;

}
.servicos .servicos-cards{
    display: flex;
    max-width: 950px;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}
.servicos .card {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;

}
.servicos .card svg{
    width: 60px;
    height: 60px;
    margin: 50px;
    transition: all 1s;

}
/* para gerar a interação nos ícones */
.servicos .card svg:hover{ 
    stroke: orange;
    transform: scale(1.1);

}
.servicos .card h3{
    font-weight: bold;

}
.servicos .card p{
    color: grey;
    font-size: .8 rem;
    text-align: center;
}
.servicos .card  .card-content{
    height: 180px;
    text-align: center;
}
.servicos button{
    background: blue ;
}
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
}

.contato{
    padding: 60px;
    background: #dadfeb;
    position:relative;
}

.contato .contato-card{
    width: 350px;
    height: 300px;
    background: white;
    position:absolute;
    z-index:99;
    border-radius: 8px;

    top:calc(50% - 150px);
    left:calc(20% - 175px);

    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%)
}

.contato .contato-card h1{
    padding-left: 50px;
    text-align: left;
}
.contato .contato-card li{
    font-size: .8rem;
    font-weight: bold;
    color:grey;
    display: flex;
    align-items: center;


}

.contato .contato-card li svg{
    width: 16px;
    margin: 10px;
}

/*RESPONSIVIDADE */

/* Especial para mapa */

@media (max-width: 950px) {
    .contato{
        padding: 60px 0;
    }
    .contato .contato-card{
        left: 40px;
    }

    @media (max-width: 800px) {
        .contato{
            padding: 20px 0;
    
        }
    
        .contato .contato-card{
            position: static;
            margin: 40px auto;
        }
}
/* Landscape phone to portrait tablet */

@media (max-width: 767px) {}


/* Landscape phones and down */

@media (max-width: 480px) {
    body {
        margin-bottom: 55px;
    }
    header nav ul {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        z-index: 99;
        background: #9F9085;
        color: white;
        font-weight: bold;
        height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header nav p {
        width: 100%;
        text-align: center;
    }
   
}}